/backend/node_modules
/backend/.env


/frontend/node_modules



.gitignore
/frontend/src/components/Dashboard
/frontend/src/components/Chart
/frontend/src/components/Form
/frontend/src/components/TransactionItem
/frontend/src/utils/

