/backend/node_modules
/backend/.env


/frontend/node_modules



/backend/middlewares




/frontend/tailwind.config.js
/frontend/src/pages
/frontend/src/assets
/frontend/src/utils/Loader.js
/frontend/src/index.css
frontend/public/logo.png
